.btn.butn {

    background: rgba(178,0,0,1);
    background: -moz-linear-gradient(left, rgba(178,0,0,1) 0%, rgba(255,0,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(178,0,0,1)), color-stop(100%, rgba(255,0,0,1)));
    background: -webkit-linear-gradient(left, rgba(178,0,0,1) 0%, rgba(255,0,0,1) 100%);
    background: -o-linear-gradient(left, rgba(178,0,0,1) 0%, rgba(255,0,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(178,0,0,1) 0%, rgba(255,0,0,1) 100%);
    background: linear-gradient(to right, rgba(178,0,0,1) 0%, rgba(255,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b20000', endColorstr='#ff0000', GradientType=1 );
    border-radius: 18px;

}
.button {
    backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: linear-gradient(90deg,#b20000 0%,#ff0000 100%);
  border-radius: 30px;
  border: 0px solid rgba(100%,100%,100%,0);
  border-width: 0px 0px 0px 0px;
  padding: 9px 75px 9px 75px;
    color: #fff !important;
  font-size: initial;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal
  }
  .button > div {
    color: #999;
  font-size: 10px;
  font-family: Helvetica Neue;
  font-weight: initial;
  font-style: normal;
  text-align: center;
  margin: 0px 0px 0px 0px
  }
  .button > i {
    font-size: 1em;
  border-radius: 0px;
  border: 0px solid transparent;
  border-width: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  position: static
  }
  .button > .ld {
    font-size: initial
  }
  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #B20000;
    border-color: #B20000;
}
.input-group.input-with-img, input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}
.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.btn.btn-primary.day-btn {
    background-color: #BFBFBF;
    border-color: #BFBFBF;
    margin-left: 24px;
    border-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.div-btn {
    text-align: center;
}
.btn.sett-btn {
    border-radius: 25px;
width: 196px;
}
.fade:not(.show) {
    opacity: 1;
}
[data-nav-headerbg="color_1"] .nav-header {
    background-color: #ffffff;
}
.nav-header .brand-logo a {
    padding: 0 2.7rem;
    display: block;
}
.page-titles {
    
    background: #FCE8E8;
}
#example-ajax td.email_class {
    word-break: break-all;
}
.btn-group.a800am900am1 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
.rectangle.bg-overlay {
    position: absolute;
    width: 975px;
 
    height: 257px;
}
.bg-image {
    position: relative;
    opacity: .58;
}
.dashboard.bg1 {
  background-color: rgba(0,0,0,1.0);
top: 0;
height: 49px;
width: 975px;
position: relative;
margin: 0;
left: 0;
-ms-transform: rotate(0);
-webkit-transform: rotate(0);
transform: rotate(0);
}
.myappointment {
    background-color: rgba(255,255,255,0.0);
    height: auto;
    width: 225px;
    margin: 0;
    left: 400px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'AppleSystemUIFont',Helvetica,Arial,serif;
    font-size: 18.0px;
    color: rgba(255,255,255,1.0);
    text-align: center;
    letter-spacing: .64px;
    line-height: 16.0px;
    position: absolute;
    z-index: 99999999999999999;
    top: 276px;

}
.myappointment span {
    padding: 8px;
}
.card.notification {

    border-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    margin: 0 0 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 11px solid #eee;
        border-left-color: rgb(238, 238, 238);
    border-left-color: rgb(238, 238, 238);

}
.card.notification.open-stage {

    border-color: rgba(115,229,255,1.0);
    background-color: rgba(219,244,250,1.0);
}
.box-title.noti-title {

    background-color: rgba(255,255,255,0.0);
   
    height: auto;
    width: auto;
   
    margin: 0;
    left: 25px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'AppleSystemUIFont',Helvetica,Arial,serif;
    font-size: 15.0px;
    color: rgba(0,0,0,1.0);
    text-align: left;
    letter-spacing: .47px;
    line-height: 24.0px;

}
.noti-time {

    background-color: rgba(255,255,255,0.0);
    
    height: auto;
    width: 230px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'AppleSystemUIFont',Helvetica,Arial,serif;
    font-size: 12.0px;
    color: rgba(0,0,0,1.0);
    text-align: left;
    letter-spacing: .43px;
    line-height: 0px;

}
.noti-time span {
    padding: 4px;
}
.noti-num {
    background-color: rgba(255,255,255,0.0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'AppleSystemUIFont',Helvetica,Arial,serif;
    font-size: 16.0px;
    color: rgba(78,78,85,1.0);
    text-align: right;
    letter-spacing: .5px;
    line-height: 24.0px;
}
.group4.button-appointment {
	background-color: rgba(255,255,255,0.0);
	top: 44px;
	height: auto;
	width: auto;
	position: absolute;
	margin: 0;
	left: 29%;
	-ms-transform: rotate(0);
	-webkit-transform: rotate(0);
	transform: rotate(0);
}
.button-appointment .group {
	background-color: rgba(255,255,255,0.0);
	/*top: 49px;*/
	height: 52px;
	width: 194px;
	/*position: absolute;*/
	margin: 0;
	left: 0;
	-ms-transform: rotate(0);
	-webkit-transform: rotate(0);
	transform: rotate(0);
}
.button-appointment .rectangle1 {
	background-color: rgba(255,255,255,0.0);
	top: 0;
	height: 52px;
	width: 194px;
	position: absolute;
	margin: 0;
	left: 0;
	border-radius: 26px;
	-ms-transform: rotate(0);
	-webkit-transform: rotate(0);
	transform: rotate(0);
}
.button-appointment .group .handover {
	background-color: rgba(255,255,255,0.0);
	top: 16px;
	height: auto;
	width: 92px;
	position: absolute;
	margin: 0;
	left: 51px;
	-ms-transform: rotate(0);
	-webkit-transform: rotate(0);
	transform: rotate(0);
	font-family: 'SFProText-Bold',Helvetica,Arial,serif;
	font-size: 18.0px;
	color: rgba(255,255,255,1.0);
	text-align: center;
	line-height: 21.0px;
}
.button-appointment .groupcopy {
	background-color: rgba(255,255,255,0.0);
	/*top: 49px;*/
	height: 52px;
	width: 194px;
	/*position: absolute;*/
	margin: 0;
	left: 217px;
	-ms-transform: rotate(0);
	-webkit-transform: rotate(0);
	transform: rotate(0);
}
.button-appointment .rectangle1 {
	background-color: rgba(255,255,255,0.0);
	top: 0;
	height: 52px;
	width: 194px;
	position: absolute;
	margin: 0;
	left: 0;
	border-radius: 26px;
	-ms-transform: rotate(0);
	-webkit-transform: rotate(0);
	transform: rotate(0);
}
.button-appointment .defect {
	background-color: rgba(255,255,255,0.0);
	top: 18px;
	height: auto;
	width: 64px;
	position: absolute;
	margin: 0;
	left: 65px;
	-ms-transform: rotate(0);
	-webkit-transform: rotate(0);
	transform: rotate(0);
	font-family: 'SFProText-Bold',Helvetica,Arial,serif;
	font-size: 18.0px;
	color: rgba(255,255,255,1.0);
	text-align: center;
	line-height: 21.0px;
}
.letsscheduleanapp {
	background-color: rgba(255,255,255,0.0);
	top: 0;
	height: auto;
	width: auto;
	/*position: absolute;*/
	margin: 0;
	left: 46px;
	-ms-transform: rotate(0);
	-webkit-transform: rotate(0);
	transform: rotate(0);
	font-family: 'SFProText-Regular',Helvetica,Arial,serif;
	font-size: 20.0px;
	color: rgba(255,255,255,1.0);
	text-align: center;
	line-height: 24.0px;
  padding: 22px;
}
.button-appointment a {

    float: left;
    padding-left: 30px;

}
.profile-oval {
  background-color: rgba(255,255,255,0.0);
top: 145px;
height: 210px;
width: 210px;
position: absolute;
margin: 0;
left: 407px;
-ms-transform: rotate(0);
-webkit-transform: rotate(0);
transform: rotate(0);
}
.profile-shape {
  background-color: rgba(255,255,255,0.0);
top: 220px;
height: 66px;
width: 74px;
position: absolute;
margin: 0;
left: 477px;
-ms-transform: rotate(0);
-webkit-transform: rotate(0);
transform: rotate(0);
}
.preference-title {
    background: linear-gradient(90deg,#b20000 0%,#ff0000 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.preference-title h4 {
    color: #ffffff;
    padding: 15px 40px;
    font-weight: 700;
    margin: 0;
}
.preferences {
    background: #ffffff;
    padding: 28px 40px;
}
.fesilities {
    background: #ffffff;
    padding: 11px 34px 0;
}
.fesilities ul {
    padding: 0;
    margin: 0;
}
.fesilities ul li {
    list-style: none;
    color: #bbbebd;
    margin: 25px 0;
    width: 100%;
}
.fesilities ul li p {
    margin: 0 0 0 36px;
}
.fesilities ul li i {
    font-size: 24px;
    float: left;
}
.hyp-link {
    color: blue;
    text-decoration: underline;
}
.tenant-profile.myappointment {
    top: 461px;
    width: 230px;
    left: 370px;
}
.noti-notes {
    padding: 12px 57px 0px 22px;
}
.edit-icon {
    color: #458c9b;
}
.noti-icon {
    font-size: 38px;
}
/*a.edit-icon:hover, a.edit-icon:focus {
    color: #458c9b;
    text-decoration: underline;
}*/
.card.notification.cancelled-stage {
    border-color: rgb(255, 196, 8);
        border-bottom-color: rgb(255, 196, 8);
    border-bottom-color: rgb(255, 196, 8);
    background-color: rgb(247, 237, 204);
}
.cancelled-stage .btn.btn-box-tool {
    background-color: rgba(246,206,79,1.0);
    color: #fff;
}
.card.notification.rejected-stage {
    border-color: rgb(255, 0, 0);
        border-bottom-color: rgb(255, 0, 0);
    border-bottom-color: rgb(255, 0, 0);
    background-color: rgb(255, 231, 231);
}
.rejected-stage .btn.btn-box-tool.collapsed {
    background-color: rgb(252, 147, 147);
    color: #fff;
}
.sett-btn {
    border-radius: 17px;
}
.appointmentStatus .btn.btn-primary.day-btn {
    background-color: #fff;
    color: #000;
}
.appointmentStatus .btn {

    padding: 5px 28px;

}
.appointmentStatus .btn.btn-primary.day-btn.accept.active {
  color: #fff;
    background-color: green;
    border-color: green;
}
.appointmentStatus .btn.btn-primary.day-btn.reject.active {
    color: #fff;
    background-color: #B20000;
    border-color: #B20000;
}
.appointmentStatus .btn.btn-primary.day-btn.noshow.active {
    border-color: #BFBFBF;
    background-color: #BFBFBF;
}
.appointmentStatus .btn.btn-primary.day-btn.resolve.active {

    background-color: rgb(239, 75, 255);
    border-color: rgb(239,75,255);
    color: #fff;

}
.btn.btn-primary.day-btn.closed.active {

    background-color: #959090;
    color: #fff;
    border-color: #BFBFBF;

}
.tenantVisibal.filled-in.chk-col-primary {
    position: relative;
    left: 0;
}
input[type="checkbox"].styled-checkbox.filled-in + label.tenantVisibal::after {

    background-color: #efefef;

}
.tenantVisibal.form-check-label.check-red {

    font-weight: 300;
    font-size: 14px;

}
.comment-timeline::before {

    left: 35px;

}.comment-timeline > li > .timeline-badge {

    left: 0;
    background-color: unset;

}
.comment-timeline > li > .timeline-badge {

    left: 0;
    background-color: unset;
    border: none;

}
.comment-timeline > li.timeline-inverted > .timeline-panel {

    float: none;
    left: 7%;

}
.li-bulet {

    top: 54px;
    left: 29px;
    margin-left: 57px;
    margin-top: -135px;
    font-size: 14px;
    color: #c3bdbdcc;

}
.comment-timeline > li > .timeline-panel {
    width: 70%;
}
.comment-timeline .card.story-widget {
    min-width: 800px;
    width: 100%;
}
.card.notification.resolved-stage {
    background-color: rgb(246, 226, 248);
    border-color: rgb(239, 75, 255);
        border-bottom-color: rgb(239, 75, 255);
}
.card.notification.completed-stage {
    background-color: rgb(246, 226, 248);
    border-color: rgb(239, 75, 255);
        border-bottom-color: rgb(239, 75, 255);
}
.resolved-stage .btn.btn-box-tool {
    background-color: rgb(243, 143, 248);
    color: #fff;
    
}
.completed-stage .btn.btn-box-tool {
    background-color: rgb(243, 143, 248);
    color: #fff;
    
}
.completed-stage .edit-icon {
    color: rgb(243, 143, 248);
}
.completed-stage a.edit-icon:hover, a.edit-icon:focus {
    color: rgb(243, 143, 248);
    text-decoration: underline;
}
.resolved-stage .edit-icon {
    color: rgb(243, 143, 248);
}
.resolved-stage a.edit-icon:hover, a.edit-icon:focus {
    color: rgb(243, 143, 248);
    text-decoration: underline;
}
.appointmentStatus .btn.btn-primary.day-btn.jointinspection.active {
    background-color: rgb(115, 229, 255);
    color: #fff;
    border-color: rgb(115, 229, 255);
}
.card.notification.closed-stage {
    background-color: rgb(236, 236, 236);
    border-color: rgb(140, 140, 140);
        border-bottom-color: rgb(140, 140, 140);
}
.closed-stage .btn.btn-box-tool {
    background-color: rgb(206, 199, 199);
    color: #fff;
}
.card.notification.accept-stage {
    background-color: rgb(215, 255, 216);
    border-color: rgb(3, 179, 6);
        border-bottom-color: rgb(3, 179, 6);
}
.accept-stage .btn.btn-box-tool {

    background-color: rgb(111, 170, 112);
    color: #fff;

}
.comment-timeline .card.story-widget.comment-list {
    min-width: 545px;
    max-width: 545px;
}
.calendar.group4.button-appointment {
    top: 0;
    position: unset;
    width: 100%;
}
.calendar .letsscheduleanapp {
    color: #000;
    position: unset;
}
.calendar.button-appointment .group {
    top: 0;
    position: unset;
}
.calendar.button-appointment .rectangle1 {
    width: 245px;
}
.calendar.button-appointment .group .handover {
    width: 129px;
    left: 51px;
}
.calendar.button-appointment .defect {
    width: 116px;
}
.calendar.button-appointment .groupcopy {

    left: 0;
    top: 0;

}
.calendar.button-appointment a {

    padding-left: 100px;

}
.hd-select.preference-radio {

    float: left;

}
.hd-tnt.preference-radio {

    margin-left: 64%;

}
.mdi.mdi-account.user-account {

    font-size: 16px;
    font-style: normal;
    color: #000;
}
.form-control.status-filter {
    width: 21%;
    display: inline-block;
}
.form-control.date-filter {
    width: 14%;
    display: inline-block;
}
.filter-div {
  text-align: right;

padding: 0px 0 8px 0;
}
.accept-stage .edit-icon {
    color: rgb(111, 170, 112);
}
.open-stage .btn.btn-box-tool {
    background-color: #458c9b;
    color: #fff;
}
.rejected-stage .edit-icon {
    color: rgb(252, 147, 147);
}
.closed-stage .edit-icon {
    color: rgb(206, 199, 199);
}
.open-stage .edit-icon {
    
    color: #458c9b;
}
.notification .btn.btn-box-tool {
    margin-top: -19px;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle)
{
  border-radius: 20px
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.label.label-resolved {
    background-color: rgb(239, 75, 255);
}
.nav-header .brand-logo img {
    width: 100px;
}
.color-tone li {
  display: inline-block;
  padding: 10px
}
.tone-li span {
    padding: 1px 0 1px 22px;
}
.color-tone .open-tone {
    background-color: rgb(115, 229, 255);
    height: 19px;
    width: 21px;
    float: left;
    margin: 0;
    left: 0;
    border-radius: 2px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.color-tone .cancelled-tone {
    background-color: rgba(255,196,8,1.0);
    height: 19px;
    width: 21px;
    float: left;
    margin: 0;
    left: 0;
    border-radius: 2px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.color-tone .pending-tone {
    background-color: rgba(3,179,6,1.0);
    height: 19px;
    width: 21px;
    float: left;
    margin: 0;
    left: 0;
    border-radius: 2px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.color-tone .rejected-tone {
    background-color: rgba(255,0,0,1.0);
    height: 19px;
    width: 21px;
    
    float: left;
    margin: 0;
    left: 0;
    border-radius: 2px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.color-tone .resolved-tone {
    background-color: rgba(239,75,255,1.0);
    height: 19px;
    width: 21px;
    
    float: left;
    margin: 0;
    left: 0;
    border-radius: 2px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.color-tone .closed-tone {
    background-color: rgba(140,140,140,1.0);
    height: 19px;
    width: 21px;
   
    float: left;
    margin: 0;
    left: 0;
    border-radius: 2px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.color-tone .noshow-tone {
    background-color: rgba(255,255,255,1.0);
    height: 19px;
    width: 21px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(150,150,150,1.0);
    float: left;
    margin: 0;
    left: 0;
    border-radius: 2px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
form.edt-app {
    width: 100%;
}
.pull-right.noti-dates {
    font-size: 12px;
}
.col-xl-8.view-tenant {

    margin-left: 16%;

}
.appointmentStatus .day-btn.cancelled.active {
    background-color: rgb(246, 206, 79);
    border-color: rgb(246, 206, 79);
    color: #fefefe;
}
.defect-categories {
  white-space: inherit;
  height: 100px;
  width: 100%;
  margin: 5px;
}
.btn.btn-primary.day-btn.defect-categories {
    font-size: 10px;
}
.cat-level {
  margin-left: 9%;
  margin-top: 7%;
}
.add-cat-button {
  margin-left: 26%;

margin-top: 15%;
}
.defect-list {

    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(150,150,150,1.0);
    left: 5%;
    height: 68px;
  
    margin-top: 7px;

}
.bg-open,.bg-jointinspection {
    background-color: rgb(115, 229, 255);
}
.bg-accept {
  background-color: rgba(3,179,6,1.0);
}
.bg-cancelled {
  background-color: rgba(255,196,8,1.0);
}
.bg-reject{
  background-color: rgba(255,0,0,1.0);
  
}
.bg-resolved,.bg-completed {
  background-color: rgba(239,75,255,1.0);
}
.bg-closed {
  background-color: rgba(140,140,140,1.0);
}
.bg-noshow {
    background-color: rgba(140,140,140,1.0);
}
table.dataTable thead .email_class.sorting_desc {

    background-image: none;

}
.badge.label-resolved {
    background-color: rgb(239, 75, 255);
}
#importTenant,#exportTenant {
    padding: 6px 12px;
}
.footer.color-div {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 36px;
    width: 100%;
}
.cancelled-stage .edit-icon {
    color: rgb(246, 206, 79);
}
.cancelled-stage a.edit-icon:hover, .cancelled-stage a.edit-icon:focus {

    color: rgb(246, 206, 79);

}

.nk-sidebar .metismenu>li.active>a, .sidebar-right .nav-tabs .nav-item .nav-link.active, [direction=rtl] .nk-sidebar .metismenu>li.active>a {
    border-color: #ff0000;
}

.nk-sidebar .metismenu>li.active>a, .nk-sidebar .metismenu>li:hover>a {
    background: #fff1f1;
    color: #ff0000;
}

.nav-label {
    color: #ff0000;
}
table.dataTable thead .sort-icon.sorting_desc {
    background-image: none;
}
@media (min-width: 768px){
.hamburger.is-active {
    left: 6rem;
    z-index: 9;
    top: 0px;
}

.nav-control {
    margin-left: 1rem;
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
}
}
@media (max-width: 800px) {
  .nav-header .brand-logo img {

    width: 37px;
    height: 45px;
    margin-left: -14px;

}
.nav-header {
    height: 6rem;
}
.page-titles {
    background: #FCE8E8;
    width: 100%;
}
.myappointment {
    left: 26%;
}
.pull-right.noti-dates {

    font-size: 12px;
    width: 100%;
    text-align: right;

}
.col-xl-8.view-tenant {

    margin-left: 0;

}

}
@media only screen and (min-width: 768px){
  [data-sidebar-style=mini] .nav-header .brand-logo a{ padding:0px 2.7rem; }
  [data-sidebar-style=mini] .nav-header .brand-logo a b img {
    margin-left: -19px
  }
}