@font-face {
                          font-family: "SFProText-Regular";
                          src: url('../../lib/fonts//SF-Pro-Text-Regular.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Bold";
                          src: url('../../lib/fonts/SF-Pro-Text-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Heavy";
                          src: url('../../lib/fonts/SF-Pro-Text-Heavy.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Semibold";
                          src: url('../../lib/fonts/SF-Pro-Text-Semibold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Medium";
                          src: url('../../lib/fonts/SF-Pro-Text-Medium.otf') format("opentype");
                        }
                        
.handover{width:100%;min-width:1024px;height:100vh;min-height:1024px;position:relative;overflow:hidden;margin:0;background-color:rgba(255,255,255,1.0)}a{text-decoration:none}div{-webkit-text-size-adjust:none}.anima-full-width-a{width:100%}.anima-full-height-a{height:100%}div{-webkit-text-size-adjust:none}.handover .bg{background-color:rgba(243,243,245,1.0);top:81px;height:964px;width:1024px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .rectangle{background-color:rgba(255,255,255,1.0);top:187px;height:592px;width:445px;position:absolute;margin:0;left:175px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .bitmap{background-color:rgba(255,255,255,0.0);top:289px;height:34px;width:230px;position:absolute;margin:0;left:208px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .chooseadate{background-color:rgba(255,255,255,0.0);top:267px;height:auto;width:auto;position:absolute;margin:0;left:211px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Regular',Helvetica,Arial,serif;font-size:12.0px;color:rgba(68,68,68,1.0);text-align:center;letter-spacing:.43px;line-height:14.0px}.handover .doyouhaveanynote{background-color:rgba(255,255,255,0.0);top:627px;height:auto;width:auto;position:absolute;margin:0;left:207px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Regular',Helvetica,Arial,serif;font-size:12.0px;color:rgba(68,68,68,1.0);text-align:center;letter-spacing:.43px;line-height:14.0px}
.handover .group{background-color:rgba(255,255,255,0.0);top:392px;height:28px;width:289px;position:relative;margin:0;left:192px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .group .group42{background-color:rgba(255,255,255,0.0);top:0;height:28px;width:140px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .group .group42 .rectangle2{background-color:rgba(255,255,255,0.0);top:0;height:28px;box-sizing:border-box;width:140px;position:absolute;margin:0;left:0;border-radius:14px;border-style:solid;border-width:1px;border-color:rgba(157,157,157,1.0);-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}
.handover .group .group42 .a800am900am1{background-color:rgba(255,255,255,0.0);top:0px;height:auto;width:150px;position:absolute;margin:0;left:13px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Bold',Helvetica,Arial,serif;font-size:11.0px;color:rgba(88,88,88,1.0);text-align:center;line-height:13.0px}
.handover .group .group4copy{background-color:rgba(255,255,255,0.0);top:0;height:28px;width:140px;position:absolute;margin:0;left:185px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .group .group4copy .rectangle2{background-color:rgba(255,255,255,0.0);top:0;height:28px;box-sizing:border-box;width:140px;position:absolute;margin:0;left:0;border-radius:14px;border-style:solid;border-width:1px;border-color:rgba(157,157,157,1.0);-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .group .group4copy .a830am1030am{background-color:rgba(255,255,255,0.0);top:8px;height:auto;width:114px;position:absolute;margin:0;left:13px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Bold',Helvetica,Arial,serif;font-size:11.0px;color:rgba(88,88,88,1.0);text-align:center;line-height:13.0px}.handover .groupcopy{background-color:rgba(255,255,255,0.0);top:428px;height:168px;width:289px;position:absolute;margin:0;left:208px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .groupcopy .group4copy8{background-color:rgba(255,255,255,0.0);top:0;height:28px;width:140px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .groupcopy .group4copy8 .rectangle2{background-color:rgba(255,255,255,0.0);top:0;height:28px;box-sizing:border-box;width:140px;position:absolute;margin:0;left:0;border-radius:14px;border-style:solid;border-width:1px;border-color:rgba(157,157,157,1.0);-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .groupcopy .group4copy8 .a830am1030am{background-color:rgba(255,255,255,0.0);top:8px;height:auto;width:114px;position:absolute;margin:0;left:13px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Bold',Helvetica,Arial,serif;font-size:11.0px;color:rgba(88,88,88,1.0);text-align:center;line-height:13.0px}.handover .groupcopy .group4copy81{background-color:rgba(255,255,255,0.0);top:35px;height:28px;width:140px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .groupcopy .group4copy81 .rectangle2{background-color:rgba(255,255,255,0.0);top:0;height:28px;box-sizing:border-box;width:140px;position:absolute;margin:0;left:0;border-radius:14px;border-style:solid;border-width:1px;border-color:rgba(157,157,157,1.0);-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .groupcopy .group4copy81 .a830am1030am{background-color:rgba(255,255,255,0.0);top:8px;height:auto;width:114px;position:absolute;margin:0;left:13px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Bold',Helvetica,Arial,serif;font-size:11.0px;color:rgba(88,88,88,1.0);text-align:center;line-height:13.0px}.handover .groupcopy .group4copy82{background-color:rgba(255,255,255,0.0);top:0;height:28px;width:140px;position:absolute;margin:0;left:149px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .groupcopy .group4copy82 .rectangle2{background-color:rgba(255,255,255,0.0);top:0;height:28px;box-sizing:border-box;width:140px;position:absolute;margin:0;left:0;border-radius:14px;border-style:solid;border-width:1px;border-color:rgba(157,157,157,1.0);-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .groupcopy .group4copy82 .a830am1030am{background-color:rgba(255,255,255,0.0);top:8px;height:auto;width:114px;position:absolute;margin:0;left:13px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Bold',Helvetica,Arial,serif;font-size:11.0px;color:rgba(88,88,88,1.0);text-align:center;line-height:13.0px}.handover .groupcopy .group4copy83{background-color:rgba(255,255,255,0.0);top:35px;height:28px;width:140px;position:absolute;margin:0;left:149px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .groupcopy .group4copy83 .rectangle2{background-color:rgba(255,255,255,0.0);top:0;height:28px;box-sizing:border-box;width:140px;position:absolute;margin:0;left:0;border-radius:14px;border-style:solid;border-width:1px;border-color:rgba(157,157,157,1.0);-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .groupcopy .group4copy83 .a830am1030am{background-color:rgba(255,255,255,0.0);top:8px;height:auto;width:114px;position:absolute;margin:0;left:13px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Bold',Helvetica,Arial,serif;font-size:11.0px;color:rgba(88,88,88,1.0);text-align:center;line-height:13.0px}.handover .groupcopy .group4copy84{background-color:rgba(255,255,255,0.0);top:70px;height:28px;width:140px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .groupcopy .group4copy84 .rectangle2{background-color:rgba(255,255,255,0.0);top:0;height:28px;box-sizing:border-box;width:140px;position:absolute;margin:0;left:0;border-radius:14px;border-style:solid;border-width:1px;border-color:rgba(157,157,157,1.0);-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .groupcopy .group4copy84 .a830am1030am{background-color:rgba(255,255,255,0.0);top:8px;height:auto;width:114px;position:absolute;margin:0;left:13px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Bold',Helvetica,Arial,serif;font-size:11.0px;color:rgba(88,88,88,1.0);text-align:center;line-height:13.0px}.handover .groupcopy .group4copy85{background-color:rgba(255,255,255,0.0);top:70px;height:28px;width:140px;position:absolute;margin:0;left:149px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .groupcopy .group4copy85 .rectangle2{background-color:rgba(255,255,255,0.0);top:0;height:28px;box-sizing:border-box;width:140px;position:absolute;margin:0;left:0;border-radius:14px;border-style:solid;border-width:1px;border-color:rgba(157,157,157,1.0);-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .groupcopy .group4copy85 .a830am1030am{background-color:rgba(255,255,255,0.0);top:8px;height:auto;width:114px;position:absolute;margin:0;left:13px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Bold',Helvetica,Arial,serif;font-size:11.0px;color:rgba(88,88,88,1.0);text-align:center;line-height:13.0px}.handover .groupcopy .group4copy86{background-color:rgba(255,255,255,0.0);top:105px;height:28px;width:140px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .groupcopy .group4copy86 .rectangle2{background-color:rgba(255,255,255,0.0);top:0;height:28px;box-sizing:border-box;width:140px;position:absolute;margin:0;left:0;border-radius:14px;border-style:solid;border-width:1px;border-color:rgba(157,157,157,1.0);-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .groupcopy .group4copy86 .a830am1030am{background-color:rgba(255,255,255,0.0);top:8px;height:auto;width:114px;position:absolute;margin:0;left:13px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Bold',Helvetica,Arial,serif;font-size:11.0px;color:rgba(88,88,88,1.0);text-align:center;line-height:13.0px}.handover .groupcopy .group4copy87{background-color:rgba(255,255,255,0.0);top:105px;height:28px;width:140px;position:absolute;margin:0;left:149px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .groupcopy .group4copy87 .rectangle2{background-color:rgba(255,255,255,0.0);top:0;height:28px;box-sizing:border-box;width:140px;position:absolute;margin:0;left:0;border-radius:14px;border-style:solid;border-width:1px;border-color:rgba(157,157,157,1.0);-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .groupcopy .group4copy87 .a830am1030am{background-color:rgba(255,255,255,0.0);top:8px;height:auto;width:114px;position:absolute;margin:0;left:13px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Bold',Helvetica,Arial,serif;font-size:11.0px;color:rgba(88,88,88,1.0);text-align:center;line-height:13.0px}.handover .groupcopy .group4copy88{background-color:rgba(255,255,255,0.0);top:140px;height:28px;width:140px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .groupcopy .group4copy88 .rectangle2{background-color:rgba(255,255,255,0.0);top:0;height:28px;box-sizing:border-box;width:140px;position:absolute;margin:0;left:0;border-radius:14px;border-style:solid;border-width:1px;border-color:rgba(157,157,157,1.0);-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .groupcopy .group4copy88 .a830am1030am{background-color:rgba(255,255,255,0.0);top:8px;height:auto;width:114px;position:absolute;margin:0;left:13px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Bold',Helvetica,Arial,serif;font-size:11.0px;color:rgba(88,88,88,1.0);text-align:center;line-height:13.0px}.handover .groupcopy .group4copy89{background-color:rgba(255,255,255,0.0);top:140px;height:28px;width:140px;position:absolute;margin:0;left:149px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .groupcopy .group4copy89 .rectangle2{background-color:rgba(255,255,255,0.0);top:0;height:28px;box-sizing:border-box;width:140px;position:absolute;margin:0;left:0;border-radius:14px;border-style:solid;border-width:1px;border-color:rgba(157,157,157,1.0);-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .groupcopy .group4copy89 .a830am1030am{background-color:rgba(255,255,255,0.0);top:8px;height:auto;width:114px;position:absolute;margin:0;left:13px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Bold',Helvetica,Arial,serif;font-size:11.0px;color:rgba(88,88,88,1.0);text-align:center;line-height:13.0px}.handover .group4{background-color:rgba(255,255,255,0.0);top:392px;height:28px;width:140px;position:absolute;margin:0;left:208px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .group4 .rectangle2{background-color:rgba(255,255,255,0.0);top:0;height:28px;width:140px;position:absolute;margin:0;left:0;border-radius:14px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .group4 .a830am1030am{background-color:rgba(255,255,255,0.0);top:8px;height:auto;width:114px;position:absolute;margin:0;left:13px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Bold',Helvetica,Arial,serif;font-size:11.0px;color:rgba(255,255,255,1.0);text-align:center;line-height:13.0px}.handover .rectanglecopy2{background-color:rgba(255,255,255,1.0);top:187px;height:350px;width:267px;position:absolute;margin:0;left:636px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .bitmap1{background-color:rgba(255,255,255,0.0);top:648px;height:85px;width:371px;position:absolute;margin:0;left:202px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .availabletime{background-color:rgba(255,255,255,0.0);top:360px;height:auto;width:auto;position:absolute;margin:0;left:207px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Regular',Helvetica,Arial,serif;font-size:12.0px;color:rgba(68,68,68,1.0);text-align:center;letter-spacing:.43px;line-height:14.0px}.handover .handover1{background-color:rgba(255,255,255,0.0);top:259px;height:auto;width:auto;position:absolute;margin:0;left:715px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Regular',Helvetica,Arial,serif;font-size:12.0px;color:rgba(68,68,68,1.0);text-align:left;letter-spacing:.43px;line-height:14.0px}.handover .tues31nov2018{background-color:rgba(255,255,255,0.0);top:300px;height:auto;width:auto;position:absolute;margin:0;left:714px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Regular',Helvetica,Arial,serif;font-size:12.0px;color:rgba(68,68,68,1.0);text-align:left;letter-spacing:.43px;line-height:14.0px}.handover .a800am900am{background-color:rgba(255,255,255,0.0);top:336px;height:auto;width:auto;position:absolute;margin:0;left:712px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Regular',Helvetica,Arial,serif;font-size:12.0px;color:rgba(68,68,68,1.0);text-align:left;letter-spacing:.43px;line-height:14.0px}.handover .a1hours{background-color:rgba(255,255,255,0.0);top:374px;height:auto;width:auto;position:absolute;margin:0;left:715px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Regular',Helvetica,Arial,serif;font-size:12.0px;color:rgba(68,68,68,1.0);text-align:left;letter-spacing:.43px;line-height:14.0px}.handover .b1010continewb{background-color:rgba(255,255,255,0.0);top:412px;height:auto;width:auto;position:absolute;margin:0;left:717px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Regular',Helvetica,Arial,serif;font-size:12.0px;color:rgba(68,68,68,1.0);text-align:left;letter-spacing:.43px;line-height:12.0px}.handover .b1010continewb .span1{line-height:14.0px}.handover .b1010continewb .span2{font-family:'PingFangSC-Regular',Helvetica,Arial,serif;line-height:17.0px}.handover .b1010continewb .span3{line-height:14.0px}.handover .b1010continewb .span4{font-family:'PingFangSC-Regular',Helvetica,Arial,serif;line-height:17.0px}.handover .b1010continewb .span5{line-height:14.0px}.handover .bitmap2{background-color:rgba(255,255,255,0.0);top:249px;height:209px;width:33px;position:absolute;margin:0;left:656px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .rectangle1{background-color:rgba(255,255,255,0.0);top:187px;height:52px;width:445px;position:absolute;margin:0;left:175px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .rectanglecopy{background-color:rgba(255,255,255,0.0);top:187px;height:52px;width:267px;position:absolute;margin:0;left:636px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .rectanglecopy3{background-color:rgba(255,255,255,0.0);top:477px;height:34px;width:189px;position:absolute;margin:0;left:675px;border-radius:17px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .handoverpreferences{background-color:rgba(255,255,255,0.0);top:201px;height:auto;width:auto;position:absolute;margin:0;left:186px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Bold',Helvetica,Arial,serif;font-size:18.0px;color:rgba(255,255,255,1.0);text-align:center;letter-spacing:.64px;line-height:21.0px}.handover .bookingsummary{background-color:rgba(255,255,255,0.0);top:201px;height:auto;width:auto;position:absolute;margin:0;left:655px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Bold',Helvetica,Arial,serif;font-size:18.0px;color:rgba(255,255,255,1.0);text-align:center;letter-spacing:.64px;line-height:21.0px}.handover .submit{background-color:rgba(255,255,255,0.0);top:484px;height:auto;width:86px;position:absolute;margin:0;left:727px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Bold',Helvetica,Arial,serif;font-size:15.0px;color:rgba(255,255,255,1.0);text-align:center;letter-spacing:.54px;line-height:18.0px}.handover .bookyourhandovera{background-color:rgba(255,255,255,0.0);top:106px;height:auto;width:auto;position:absolute;margin:0;left:326px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Heavy',Helvetica,Arial,serif;font-size:20.0px;color:rgba(68,68,68,1.0);text-align:center;letter-spacing:.71px;line-height:24.0px}.handover .group41{background-color:rgba(255,255,255,0.0);top:0;height:81px;width:1024px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .group41 .rectangle2{background-color:rgba(255,255,255,1.0);top:0;height:81px;width:1024px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .group41 .bitmap3{background-color:rgba(255,255,255,0.0);top:11px;height:58px;width:62px;position:absolute;margin:0;left:141px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .group41 .group2{background-color:rgba(255,255,255,0.0);top:28px;height:24px;width:81px;position:absolute;margin:0;left:679px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .group41 .group2 .label{background-color:rgba(255,255,255,0.0);top:0;height:auto;width:50px;position:absolute;margin:0;left:32px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.handover .group41 .group2 .icon{background-color:rgba(255,255,255,0.0);top:0;height:24px;width:24px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .group41 .group2 .icon .shape{background-color:rgba(255,255,255,0.0);top:0;height:24px;width:24px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .group41 .group2 .icon .shape1{background-color:rgba(255,255,255,0.0);top:4px;height:16px;width:16px;position:absolute;margin:0;left:4px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .group41 .group1{background-color:rgba(255,255,255,0.0);top:28px;height:24px;width:107px;position:absolute;margin:0;left:837px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .group41 .group1 .group3{background-color:rgba(255,255,255,0.0);top:0;height:24px;width:79px;position:absolute;margin:0;left:28px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .group41 .group1 .group3 .logout{background-color:rgba(255,255,255,0.0);top:0;height:auto;width:80px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.handover .group41 .group1 .shape{background-color:rgba(255,255,255,0.0);top:4px;height:16px;width:16px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.handover .fillinalltheappo{background-color:rgba(255,255,255,0.0);top:136px;height:auto;width:auto;position:absolute;margin:0;left:420px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:11.0px;color:rgba(145,145,145,1.0);text-align:center;letter-spacing:.39px;line-height:13.0px}.anima-animate-appear{opacity:0;display:block;-webkit-animation:anima-reveal .3s ease-in-out 1 normal forwards;-moz-animation:anima-reveal .3s ease-in 1 normal forwards;-o-animation:anima-reveal .3s ease-in-out 1 normal forwards;animation:anima-reveal .3s ease-in-out 1 normal forwards}.anima-animate-disappear{opacity:1;display:block;-webkit-animation:anima-reveal .3s ease-in-out 1 reverse forwards;-moz-animation:anima-reveal .3s ease-in 1 normal forwards;-o-animation:anima-reveal .3s ease-in-out 1 reverse forwards;animation:anima-reveal .3s ease-in-out 1 reverse forwards}.anima-animate-nodelay{-webkit-animation-delay:0;-moz-animation-delay:0;-o-animation-delay:0;animation-delay:0}@-webkit-keyframes anima-reveal{0%{opacity:0}100%{opacity:1}}@-moz-keyframes anima-reveal{0%{opacity:0}100%{opacity:1}}@-o-keyframes anima-reveal{0%{opacity:0}100%{opacity:1}}@keyframes anima-reveal{0%{opacity:0}100%{opacity:1}}
    