@font-face {
                          font-family: "SFProText-Regular";
                          src: url('../../lib/fonts/SF-Pro-Text-Regular.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Bold";
                          src: url('../../lib/fonts/SF-Pro-Text-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Heavy";
                          src: url('../../lib/fonts/SF-Pro-Text-Heavy.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Semibold";
                          src: url('../../lib/fonts/SF-Pro-Text-Semibold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Medium";
                          src: url('../../lib/fonts/SF-Pro-Text-Medium.otf') format("opentype");
                        }
                        
.profile{width:100%;min-width:1024px;height:100vh;min-height:1024px;position:relative;overflow:hidden;margin:0;background-color:rgba(255,255,255,1.0)}a{text-decoration:none}div{-webkit-text-size-adjust:none}.anima-full-width-a{width:100%}.anima-full-height-a{height:100%}div{-webkit-text-size-adjust:none}.profile .group4{background-color:rgba(255,255,255,0.0);top:0;height:81px;width:1024px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.profile .group4 .rectangle1{background-color:rgba(255,255,255,1.0);top:0;height:81px;width:1024px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.profile .group4 .bitmap{background-color:rgba(255,255,255,0.0);top:11px;height:58px;width:62px;position:absolute;margin:0;left:141px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.profile .group4 .group2{background-color:rgba(255,255,255,0.0);top:28px;height:24px;width:81px;position:absolute;margin:0;left:679px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.profile .group4 .group2 .label{background-color:rgba(255,255,255,0.0);top:0;height:auto;width:50px;position:absolute;margin:0;left:32px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.profile .group4 .group2 .icon{background-color:rgba(255,255,255,0.0);top:0;height:24px;width:24px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.profile .group4 .group2 .icon .shape2{background-color:rgba(255,255,255,0.0);top:0;height:24px;width:24px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.profile .group4 .group2 .icon .shape1{background-color:rgba(255,255,255,0.0);top:4px;height:16px;width:16px;position:absolute;margin:0;left:4px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.profile .group4 .group{background-color:rgba(255,255,255,0.0);top:28px;height:24px;width:107px;position:absolute;margin:0;left:837px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.profile .group4 .group .group3{background-color:rgba(255,255,255,0.0);top:0;height:24px;width:79px;position:absolute;margin:0;left:28px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.profile .group4 .group .group3 .logout{background-color:rgba(255,255,255,0.0);top:0;height:auto;width:80px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.profile .group4 .group .shape1{background-color:rgba(255,255,255,0.0);top:4px;height:16px;width:16px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.profile .realestateagenthandingthehousekeytopeht6ze{background-color:rgba(255,255,255,0.0);top:81px;height:257px;width:1024px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);opacity:.58}.profile .rectangle{background-color:rgba(255,255,255,0.0);top:81px;height:257px;width:1024px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.profile .bg{background-color:rgba(243,243,245,1.0);top:338px;height:1267px;width:1024px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.profile .userid{background-color:rgba(255,255,255,0.0);top:417px;height:auto;width:auto;position:absolute;margin:0;left:285px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(178,178,178,1.0);text-align:left;letter-spacing:-.41px;line-height:19.0px}.profile .b101028{background-color:rgba(255,255,255,0.0);top:417px;height:auto;width:auto;position:absolute;margin:0;left:610px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:-.41px;line-height:19.0px}.profile .name{background-color:rgba(255,255,255,0.0);top:452px;height:auto;width:auto;position:absolute;margin:0;left:285px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(178,178,178,1.0);text-align:left;letter-spacing:-.41px;line-height:19.0px}.profile .nickleong{background-color:rgba(255,255,255,0.0);top:452px;height:auto;width:auto;position:absolute;margin:0;left:610px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:-.41px;line-height:19.0px}.profile .unitblocknumber{background-color:rgba(255,255,255,0.0);top:487px;height:auto;width:auto;position:absolute;margin:0;left:285px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(178,178,178,1.0);text-align:left;letter-spacing:-.41px;line-height:19.0px}.profile .icnumber{background-color:rgba(255,255,255,0.0);top:522px;height:auto;width:auto;position:absolute;margin:0;left:285px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(178,178,178,1.0);text-align:left;letter-spacing:-.41px;line-height:19.0px}.profile .primarycontactnumb{background-color:rgba(255,255,255,0.0);top:557px;height:auto;width:auto;position:absolute;margin:0;left:285px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(178,178,178,1.0);text-align:left;letter-spacing:-.41px;line-height:19.0px}.profile .b1010{background-color:rgba(255,255,255,0.0);top:487px;height:auto;width:auto;position:absolute;margin:0;left:610px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:-.41px;line-height:19.0px}.profile .a860923102837{background-color:rgba(255,255,255,0.0);top:522px;height:auto;width:auto;position:absolute;margin:0;left:610px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:-.41px;line-height:19.0px}.profile .a01272727377{background-color:rgba(255,255,255,0.0);top:557px;height:auto;width:auto;position:absolute;margin:0;left:610px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:-.41px;line-height:19.0px}.profile .emergencycontact{background-color:rgba(255,255,255,0.0);top:598px;height:auto;width:auto;position:absolute;margin:0;left:285px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(178,178,178,1.0);text-align:left;letter-spacing:-.41px;line-height:19.0px}.profile .dickyzhang{background-color:rgba(255,255,255,0.0);top:598px;height:auto;width:auto;position:absolute;margin:0;left:610px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:-.41px;line-height:19.0px}.profile .emergencycontactnu{background-color:rgba(255,255,255,0.0);top:633px;height:auto;width:auto;position:absolute;margin:0;left:285px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(178,178,178,1.0);text-align:left;letter-spacing:-.41px;line-height:19.0px}.profile .a0124848996{background-color:rgba(255,255,255,0.0);top:633px;height:auto;width:auto;position:absolute;margin:0;left:610px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:-.41px;line-height:19.0px}.profile .email{background-color:rgba(255,255,255,0.0);top:668px;height:auto;width:auto;position:absolute;margin:0;left:285px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(178,178,178,1.0);text-align:left;letter-spacing:-.41px;line-height:19.0px}.profile .nickgmailcom{background-color:rgba(255,255,255,0.0);top:668px;height:auto;width:auto;position:absolute;margin:0;left:610px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:-.41px;line-height:19.0px}.profile .resetpassword{background-color:rgba(255,255,255,0.0);top:744px;height:auto;width:auto;position:absolute;margin:0;left:531px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(255,0,0,1.0);text-align:left;letter-spacing:-.41px;line-height:19.0px;text-decoration:underline}.profile .group7{background-color:rgba(255,255,255,0.0);top:795px;height:177px;width:501px;position:absolute;margin:0;left:285px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);opacity:.29}.profile .group7 .group6{background-color:rgba(255,255,255,0.0);top:136px;height:41px;width:225px;position:absolute;margin:0;left:125px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.profile .group7 .group6 .rectanglecopy3{background-color:rgba(255,255,255,0.0);top:0;height:34px;width:225px;position:absolute;margin:0;left:0;border-radius:17px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.profile .group7 .group6 .savesubmit{background-color:rgba(255,255,255,0.0);top:7px;height:auto;width:201px;position:absolute;margin:0;left:11px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Bold',Helvetica,Arial,serif;font-size:15.0px;color:rgba(255,255,255,1.0);text-align:center;letter-spacing:.54px;line-height:18.0px}.profile .group7 .newpassword{background-color:rgba(255,255,255,0.0);top:36px;height:auto;width:auto;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(178,178,178,1.0);text-align:left;letter-spacing:-.41px;line-height:19.0px}.profile .group7 .oldpassword{background-color:rgba(255,255,255,0.0);top:0;height:auto;width:auto;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(178,178,178,1.0);text-align:left;letter-spacing:-.41px;line-height:19.0px}.profile .group7 .confirmnewpassword{background-color:rgba(255,255,255,0.0);top:71px;height:auto;width:auto;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(178,178,178,1.0);text-align:left;letter-spacing:-.41px;line-height:19.0px}.profile .group7 .rectangle1{background-color:rgba(255,255,255,1.0);top:36px;height:19px;box-sizing:border-box;width:225px;position:absolute;margin:0;left:276px;border-radius:2px;border-style:solid;border-width:1px;border-color:rgba(207,207,207,1.0);-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}

.profile .group7 .rectanglecopy2{background-color:rgba(255,255,255,1.0);top:0;height:19px;box-sizing:border-box;width:225px;position:absolute;margin:0;left:276px;border-radius:2px;border-style:solid;border-width:1px;border-color:rgba(207,207,207,1.0);-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.profile .group7 .rectanglecopy{background-color:rgba(255,255,255,1.0);top:71px;height:19px;box-sizing:border-box;width:225px;position:absolute;margin:0;left:276px;border-radius:2px;border-style:solid;border-width:1px;border-color:rgba(207,207,207,1.0);-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.profile .updateprofile{background-color:rgba(255,255,255,0.0);top:744px;height:auto;width:auto;position:absolute;margin:0;left:365px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(255,0,0,1.0);text-align:left;letter-spacing:-.41px;line-height:19.0px;text-decoration:underline}.profile .oval{background-color:rgba(255,255,255,0.0);top:213px;height:210px;width:210px;position:absolute;margin:0;left:407px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.profile .namecopy7{background-color:rgba(255,255,255,0.0);top:1028px;height:auto;width:auto;position:absolute;margin:0;left:451px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(0,0,0,0.44);text-align:left;letter-spacing:-.41px;line-height:19.0px}.profile .namecopy8{background-color:rgba(255,255,255,0.0);top:1063px;height:auto;width:auto;position:absolute;margin:0;left:451px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(0,0,0,0.44);text-align:left;letter-spacing:-.41px;line-height:19.0px}.profile .namecopy9{background-color:rgba(255,255,255,0.0);top:1098px;height:auto;width:auto;position:absolute;margin:0;left:451px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Semibold',Helvetica,Arial,serif;font-size:16.0px;color:rgba(0,0,0,0.44);text-align:left;letter-spacing:-.41px;line-height:19.0px}.profile .shape{background-color:rgba(255,255,255,0.0);top:280px;height:66px;width:74px;position:absolute;margin:0;left:477px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.anima-animate-appear{opacity:0;display:block;-webkit-animation:anima-reveal .3s ease-in-out 1 normal forwards;-moz-animation:anima-reveal .3s ease-in 1 normal forwards;-o-animation:anima-reveal .3s ease-in-out 1 normal forwards;animation:anima-reveal .3s ease-in-out 1 normal forwards}.anima-animate-disappear{opacity:1;display:block;-webkit-animation:anima-reveal .3s ease-in-out 1 reverse forwards;-moz-animation:anima-reveal .3s ease-in 1 normal forwards;-o-animation:anima-reveal .3s ease-in-out 1 reverse forwards;animation:anima-reveal .3s ease-in-out 1 reverse forwards}.anima-animate-nodelay{-webkit-animation-delay:0;-moz-animation-delay:0;-o-animation-delay:0;animation-delay:0}@-webkit-keyframes anima-reveal{0%{opacity:0}100%{opacity:1}}@-moz-keyframes anima-reveal{0%{opacity:0}100%{opacity:1}}@-o-keyframes anima-reveal{0%{opacity:0}100%{opacity:1}}@keyframes anima-reveal{0%{opacity:0}100%{opacity:1}}
.profile .saveProfile{
                        
background-color: rgba(237,0,0,1.0);
top: 744px;
height: 34px;
width: 149px;
position: absolute;
margin: 0;
left: 365px;
color: #fff;

border-radius: 17px;
-ms-transform: rotate(0);
-webkit-transform: rotate(0);
transform: rotate(0);
text-decoration: none;
text-align: center
}
.profile .saveProfile .cancel {
    background-color: rgba(255,255,255,0.0);
    top: 7px;
    height: auto;
    width: 134px;
    position: absolute;
    margin: 0;
    left: 7px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProText-Bold',Helvetica,Arial,serif;
    font-size: 15.0px;
    color: rgba(255,255,255,1.0);
    text-align: center;
    letter-spacing: .54px;
    line-height: 18.0px;
}
.resetpassword.btn-saveProfile {
    background-color: rgba(4,150,11,1.0);
    top: 744px;
    height: 34px;
    width: 149px;
    position: absolute;
    margin: 0;
    left: 557px;
    border-radius: 17px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.btn-saveProfile-text {
    background-color: rgba(255,255,255,0.0);
    top: 7px;
    height: auto;
    width: 134px;
    position: absolute;
    margin: 0;
    left: 7px;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProText-Bold',Helvetica,Arial,serif;
    font-size: 15.0px;
    color: rgba(255,255,255,1.0);
    text-align: center;
    letter-spacing: .54px;
    line-height: 18.0px;
}
.profile-field {
    background-color: rgba(255,255,255,1.0);
    top: 0;
    height: 31px;
    width: 160px;
    position: absolute;
    margin: 0;
    left: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    font-family: 'SFProText-Semibold',Helvetica,Arial,serif;
    font-size: 16.0px;
    color: rgba(0,0,0,1.0);
    text-align: left;
    letter-spacing: -.41px;
    line-height: 19.0px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    border-color: rgba(227,227,227,1.0);
}
.alert.alert-success.alert-dismissable{
                        top: 385px;
}
.alert.alert-danger.alert-dismissable{
                        top: 385px;
}
.form-text{
margin-left: 169px;
font-size: 10px;
color: #ed0000 !important;
}
.profile .group7 .resetpassword-field {
    border-radius: unset;
    border-style: unset;
    border-width: unset;
    height: 0;
    width: 405px;
}
.resetpassword-field input {

    width: 166px;

}
#resetpassword-form span {

    display: inline-block;
    margin-left: 0;

}

    