
@font-face {
                          font-family: "SFProText-Regular";
                          src: url('../../lib/fonts/SF-Pro-Text-Regular.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Bold";
                          src: url('../../lib/fonts/SF-Pro-Text-Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Heavy";
                          src: url('../../lib/fonts/SF-Pro-Text-Heavy.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Semibold";
                          src: url('../../lib/fonts/SF-Pro-Text-Semibold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Medium";
                          src: url('../../lib/fonts/SF-Pro-Text-Medium.otf') format("opentype");
                        }
                        
.home{width:100%;min-width:1024px;height:100vh;min-height:2358px;position:relative;overflow:hidden;margin:0;background-color:rgba(255,255,255,1.0)}a{text-decoration:none}div{-webkit-text-size-adjust:none}.anima-full-width-a{width:100%}.anima-full-height-a{height:100%}div{-webkit-text-size-adjust:none}.home .realestateagenthandingthehousekeytopeht6ze{background-color:rgba(255,255,255,0.0);top:81px;height:257px;width:1024px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);opacity:.58}.home .rectangle{background-color:rgba(255,255,255,0.0);top:81px;height:257px;width:1024px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group4{background-color:rgba(255,255,255,0.0);top:156px;height:101px;width:411px;position:absolute;margin:0;left:293px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group4 .group{background-color:rgba(255,255,255,0.0);top:49px;height:52px;width:194px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group4 .group .rectangle1{background-color:rgba(255,255,255,0.0);top:0;height:52px;width:194px;position:absolute;margin:0;left:0;border-radius:26px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group4 .group .handover{background-color:rgba(255,255,255,0.0);top:12px;height:auto;width:92px;position:absolute;margin:0;left:51px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Bold',Helvetica,Arial,serif;font-size:18.0px;color:rgba(255,255,255,1.0);text-align:center;line-height:21.0px}.home .group4 .groupcopy{background-color:rgba(255,255,255,0.0);top:49px;height:52px;width:194px;position:absolute;margin:0;left:217px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group4 .groupcopy .rectangle1{background-color:rgba(255,255,255,0.0);top:0;height:52px;width:194px;position:absolute;margin:0;left:0;border-radius:26px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group4 .groupcopy .defect{background-color:rgba(255,255,255,0.0);top:12px;height:auto;width:64px;position:absolute;margin:0;left:65px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Bold',Helvetica,Arial,serif;font-size:18.0px;color:rgba(255,255,255,1.0);text-align:center;line-height:21.0px}.home .group4 .letsscheduleanapp{background-color:rgba(255,255,255,0.0);top:0;height:auto;width:auto;position:absolute;margin:0;left:46px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'SFProText-Regular',Helvetica,Arial,serif;font-size:20.0px;color:rgba(255,255,255,1.0);text-align:center;line-height:24.0px}.home .group41{background-color:rgba(255,255,255,0.0);top:0;height:81px;width:1024px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group41 .rectangle1{background-color:rgba(255,255,255,1.0);top:0;height:81px;width:1024px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group41 .bitmap{background-color:rgba(255,255,255,0.0);top:11px;height:58px;width:62px;position:absolute;margin:0;left:141px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group41 .group2{background-color:rgba(255,255,255,0.0);top:28px;height:24px;width:81px;position:absolute;margin:0;left:679px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group41 .group2 .label{background-color:rgba(255,255,255,0.0);top:0;height:auto;width:50px;position:absolute;margin:0;left:32px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group41 .group2 .icon{background-color:rgba(255,255,255,0.0);top:0;height:24px;width:24px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group41 .group2 .icon .shape2{background-color:rgba(255,255,255,0.0);top:0;height:24px;width:24px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group41 .group2 .icon .shape1{background-color:rgba(255,255,255,0.0);top:4px;height:16px;width:16px;position:absolute;margin:0;left:4px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group41 .group{background-color:rgba(255,255,255,0.0);top:28px;height:24px;width:107px;position:absolute;margin:0;left:837px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group41 .group .group3{background-color:rgba(255,255,255,0.0);top:0;height:24px;width:79px;position:absolute;margin:0;left:28px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group41 .group .group3 .logout{background-color:rgba(255,255,255,0.0);top:0;height:auto;width:80px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group41 .group .shape1{background-color:rgba(255,255,255,0.0);top:4px;height:16px;width:16px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .bg{background-color:rgba(243,243,245,1.0);top:338px;height:2019px;width:1024px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .content{background-color:rgba(255,255,255,0.0);top:338px;height:49px;width:1024px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .content .header{background-color:rgba(255,255,255,0.0);top:0;height:49px;width:1024px;position:relative;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .content .header .bg1{background-color:rgba(0,0,0,1.0);top:0;height:49px;width:1024px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .content .header .myappointment{background-color:rgba(255,255,255,0.0);top:12px;height:auto;width:225px;position:absolute;margin:0;left:400px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:18.0px;color:rgba(255,255,255,1.0);text-align:center;letter-spacing:.64px;line-height:16.0px}.home .group17{background-color:rgba(255,255,255,0.0);top:1120px;height:154px;width:589px;position:absolute;margin:0;left:194px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17 .group13{background-color:rgba(255,255,255,0.0);top:0;height:154px;width:589px;position:relative;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17 .group13 .bg1{background-color:rgba(255,231,231,1.0);top:0;height:153px;width:583px;position:absolute;margin:0;left:6px;border-radius:4px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17 .group13 .loremipsumdolorsi{background-color:rgba(255,255,255,0.0);top:63px;height:auto;width:532px;position:absolute;margin:0;left:23px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group17 .group13 .rejectedreasonip{background-color:rgba(255,255,255,0.0);top:91px;height:auto;width:532px;position:absolute;margin:0;left:23px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group17 .group13 .unassigned{background-color:rgba(255,255,255,0.0);top:120px;height:auto;width:94px;position:absolute;margin:0;left:53px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group17 .group13 .a8nov20180815am{background-color:rgba(255,255,255,0.0);top:38px;height:auto;width:201px;position:absolute;margin:0;left:51px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:12.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:.43px;line-height:16.0px}.home .group17 .group13 .defectrollershut{background-color:rgba(255,255,255,0.0);top:8px;height:auto;width:auto;position:absolute;margin:0;left:25px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:15.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:.47px;line-height:24.0px}.home .group17 .group13 .d0003{background-color:rgba(255,255,255,0.0);top:25px;height:auto;width:68px;position:absolute;margin:0;left:502px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group17 .group13 .rectangle2{background-color:rgba(255,0,0,1.0);top:0;height:154px;width:11px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17 .group13 .icon{background-color:rgba(255,255,255,0.0);top:122px;height:20px;width:20px;position:absolute;margin:0;left:23px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17 .group13 .icon .shape2{background-color:rgba(255,255,255,0.0);top:0;height:20px;width:20px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17 .group13 .icon .shape1{background-color:rgba(255,255,255,0.0);top:3px;height:13px;width:13px;position:absolute;margin:0;left:3px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17 .group13 .group6copy{background-color:rgba(255,255,255,0.0);top:40px;height:15px;width:15px;position:absolute;margin:0;left:25px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17 .group13 .group6copy .shape2{background-color:rgba(255,255,255,0.0);top:0;height:15px;width:15px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17 .group13 .group6copy .shape1{background-color:rgba(255,255,255,0.0);top:4px;height:7px;width:5px;position:absolute;margin:0;left:7px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17 .group13 .rectangle1{background-color:rgba(252,147,147,1.0);top:63px;height:29px;width:30px;position:absolute;margin:0;left:530px;border-radius:2px;-ms-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);transform:rotate(-180deg)}.home .group17 .group13 .path2{background-color:rgba(255,255,255,0.0);top:70px;height:14px;width:22px;position:absolute;margin:0;left:534px;-ms-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);transform:rotate(-180deg)}.home .group17 .group13 .a6nov2018{background-color:rgba(255,255,255,0.0);top:120px;height:auto;width:auto;position:absolute;margin:0;left:494px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:12.0px;color:rgba(172,172,172,1.0);text-align:left;letter-spacing:.43px;line-height:16.0px}.home .group17copy2{background-color:rgba(255,255,255,0.0);top:1288px;height:136px;width:589px;position:absolute;margin:0;left:194px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17copy2 .group13{background-color:rgba(255,255,255,0.0);top:0;height:136px;width:589px;position:relative;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17copy2 .group13 .bg1{background-color:rgba(246,226,248,1.0);top:0;height:135px;width:583px;position:absolute;margin:0;left:6px;border-radius:4px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17copy2 .group13 .loremipsumdolorsi{background-color:rgba(255,255,255,0.0);top:63px;height:auto;width:532px;position:absolute;margin:0;left:23px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group17copy2 .group13 .unassigned{background-color:rgba(255,255,255,0.0);top:95px;height:auto;width:94px;position:absolute;margin:0;left:53px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group17copy2 .group13 .a8nov20180815am{background-color:rgba(255,255,255,0.0);top:38px;height:auto;width:201px;position:absolute;margin:0;left:51px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:12.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:.43px;line-height:16.0px}.home .group17copy2 .group13 .defectrollershut{background-color:rgba(255,255,255,0.0);top:8px;height:auto;width:auto;position:absolute;margin:0;left:25px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:15.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:.47px;line-height:24.0px}.home .group17copy2 .group13 .d0001{background-color:rgba(255,255,255,0.0);top:25px;height:auto;width:68px;position:absolute;margin:0;left:502px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group17copy2 .group13 .rectangle1{background-color:rgba(239,75,255,1.0);top:0;height:136px;width:11px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17copy2 .group13 .icon{background-color:rgba(255,255,255,0.0);top:97px;height:20px;width:20px;position:absolute;margin:0;left:23px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17copy2 .group13 .icon .shape2{background-color:rgba(255,255,255,0.0);top:0;height:20px;width:20px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17copy2 .group13 .icon .shape11{background-color:rgba(255,255,255,0.0);top:3px;height:13px;width:13px;position:absolute;margin:0;left:3px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17copy2 .group13 .group6copy{background-color:rgba(255,255,255,0.0);top:40px;height:15px;width:15px;position:absolute;margin:0;left:25px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17copy2 .group13 .group6copy .shape2{background-color:rgba(255,255,255,0.0);top:0;height:15px;width:15px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17copy2 .group13 .group6copy .shape11{background-color:rgba(255,255,255,0.0);top:4px;height:7px;width:5px;position:absolute;margin:0;left:7px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17copy2 .group13 .group20{background-color:rgba(255,255,255,0.0);top:63px;height:29px;width:30px;position:absolute;margin:0;left:491px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17copy2 .group13 .group20 .rectangle2{background-color:rgba(243,143,248,1.0);top:0;height:29px;width:30px;position:absolute;margin:0;left:0;border-radius:2px;-ms-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);transform:rotate(-180deg)}.home .group17copy2 .group13 .group20 .path2{background-color:rgba(255,255,255,0.0);top:7px;height:14px;width:22px;position:absolute;margin:0;left:4px;-ms-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);transform:rotate(-180deg)}.home .group17copy2 .group13 .shape1{background-color:rgba(255,255,255,0.0);top:63px;height:29px;width:29px;position:absolute;margin:0;left:536px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17copy2 .group13 .a6nov2018{background-color:rgba(255,255,255,0.0);top:110px;height:auto;width:auto;position:absolute;margin:0;left:494px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:12.0px;color:rgba(172,172,172,1.0);text-align:left;letter-spacing:.43px;line-height:16.0px}.home .group17copy{background-color:rgba(255,255,255,0.0);top:548px;height:136px;width:589px;position:absolute;margin:0;left:194px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17copy .group13{background-color:rgba(255,255,255,0.0);top:0;height:136px;width:589px;position:relative;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17copy .group13 .bg1{background-color:rgba(247,237,204,1.0);top:0;height:135px;width:583px;position:absolute;margin:0;left:6px;border-radius:4px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17copy .group13 .loremipsumdolorsi{background-color:rgba(255,255,255,0.0);top:63px;height:auto;width:532px;position:absolute;margin:0;left:23px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group17copy .group13 .unassigned{background-color:rgba(255,255,255,0.0);top:95px;height:auto;width:94px;position:absolute;margin:0;left:53px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group17copy .group13 .a8nov20180815am{background-color:rgba(255,255,255,0.0);top:38px;height:auto;width:201px;position:absolute;margin:0;left:51px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:12.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:.43px;line-height:16.0px}.home .group17copy .group13 .defectrollershut{background-color:rgba(255,255,255,0.0);top:8px;height:auto;width:536px;position:absolute;margin:0;left:25px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:15.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:.47px;line-height:24.0px}.home .group17copy .group13 .d0001{background-color:rgba(255,255,255,0.0);top:25px;height:auto;width:68px;position:absolute;margin:0;left:502px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group17copy .group13 .rectangle2{background-color:rgba(255,196,8,1.0);top:0;height:136px;width:11px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17copy .group13 .icon{background-color:rgba(255,255,255,0.0);top:97px;height:20px;width:20px;position:absolute;margin:0;left:23px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17copy .group13 .icon .shape2{background-color:rgba(255,255,255,0.0);top:0;height:20px;width:20px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17copy .group13 .icon .shape1{background-color:rgba(255,255,255,0.0);top:3px;height:13px;width:13px;position:absolute;margin:0;left:3px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17copy .group13 .group6copy{background-color:rgba(255,255,255,0.0);top:40px;height:15px;width:15px;position:absolute;margin:0;left:25px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17copy .group13 .group6copy .shape2{background-color:rgba(255,255,255,0.0);top:0;height:15px;width:15px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17copy .group13 .group6copy .shape1{background-color:rgba(255,255,255,0.0);top:4px;height:7px;width:5px;position:absolute;margin:0;left:7px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group17copy .group13 .rectangle1{background-color:rgba(246,206,79,1.0);top:63px;height:29px;width:30px;position:absolute;margin:0;left:530px;border-radius:2px;-ms-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);transform:rotate(-180deg)}.home .group17copy .group13 .path2{background-color:rgba(255,255,255,0.0);top:70px;height:14px;width:22px;position:absolute;margin:0;left:534px;-ms-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);transform:rotate(-180deg)}.home .group17copy .group13 .a6nov2018{background-color:rgba(255,255,255,0.0);top:110px;height:auto;width:auto;position:absolute;margin:0;left:494px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:12.0px;color:rgba(172,172,172,1.0);text-align:left;letter-spacing:.43px;line-height:16.0px}.home .group18{background-color:rgba(255,255,255,0.0);top:698px;height:136px;width:589px;position:absolute;margin:0;left:194px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group18 .bg1{background-color:rgba(215,255,216,1.0);top:0;height:135px;width:583px;position:absolute;margin:0;left:6px;border-radius:4px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group18 .loremipsumdolorsi{background-color:rgba(255,255,255,0.0);top:63px;height:auto;width:532px;position:absolute;margin:0;left:23px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group18 .unassigned{background-color:rgba(255,255,255,0.0);top:95px;height:auto;width:94px;position:absolute;margin:0;left:53px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group18 .a8nov20180815am{background-color:rgba(255,255,255,0.0);top:38px;height:auto;width:201px;position:absolute;margin:0;left:51px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:12.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:.43px;line-height:16.0px}.home .group18 .defectrollershut{background-color:rgba(255,255,255,0.0);top:8px;height:auto;width:auto;position:absolute;margin:0;left:25px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:15.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:.47px;line-height:24.0px}.home .group18 .d000201{background-color:rgba(255,255,255,0.0);top:25px;height:auto;width:106px;position:absolute;margin:0;left:473px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group18 .rectangle2{background-color:rgba(3,179,6,1.0);top:0;height:136px;width:11px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group18 .icon{background-color:rgba(255,255,255,0.0);top:97px;height:20px;width:20px;position:absolute;margin:0;left:23px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group18 .icon .shape2{background-color:rgba(255,255,255,0.0);top:0;height:20px;width:20px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group18 .icon .shape1{background-color:rgba(255,255,255,0.0);top:3px;height:13px;width:13px;position:absolute;margin:0;left:3px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group18 .group6copy{background-color:rgba(255,255,255,0.0);top:40px;height:15px;width:15px;position:absolute;margin:0;left:25px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group18 .group6copy .shape2{background-color:rgba(255,255,255,0.0);top:0;height:15px;width:15px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group18 .group6copy .shape1{background-color:rgba(255,255,255,0.0);top:4px;height:7px;width:5px;position:absolute;margin:0;left:7px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group18 .rectangle1{background-color:rgba(111,170,112,1.0);top:63px;height:29px;width:30px;position:absolute;margin:0;left:530px;border-radius:2px;-ms-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);transform:rotate(-180deg)}.home .group18 .path2{background-color:rgba(255,255,255,0.0);top:70px;height:14px;width:22px;position:absolute;margin:0;left:534px;-ms-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);transform:rotate(-180deg)}.home .group18 .a6nov2018{background-color:rgba(255,255,255,0.0);top:110px;height:auto;width:auto;position:absolute;margin:0;left:494px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:12.0px;color:rgba(172,172,172,1.0);text-align:left;letter-spacing:.43px;line-height:16.0px}.home .group10{background-color:rgba(255,255,255,0.0);top:834px;height:136px;width:589px;position:absolute;margin:0;left:194px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group10 .bg1{background-color:rgba(215,255,216,1.0);top:0;height:135px;width:583px;position:absolute;margin:0;left:6px;border-radius:4px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group10 .loremipsumdolorsi{background-color:rgba(255,255,255,0.0);top:63px;height:auto;width:532px;position:absolute;margin:0;left:23px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group10 .unassigned{background-color:rgba(255,255,255,0.0);top:95px;height:auto;width:94px;position:absolute;margin:0;left:53px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group10 .a8nov20180815am{background-color:rgba(255,255,255,0.0);top:38px;height:auto;width:201px;position:absolute;margin:0;left:51px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:12.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:.43px;line-height:16.0px}.home .group10 .defectrollershut{background-color:rgba(255,255,255,0.0);top:8px;height:auto;width:auto;position:absolute;margin:0;left:25px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:15.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:.47px;line-height:24.0px}.home .group10 .d000202{background-color:rgba(255,255,255,0.0);top:25px;height:auto;width:106px;position:absolute;margin:0;left:473px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group10 .rectangle2{background-color:rgba(3,179,6,1.0);top:0;height:136px;width:11px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group10 .icon{background-color:rgba(255,255,255,0.0);top:97px;height:20px;width:20px;position:absolute;margin:0;left:23px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group10 .icon .shape2{background-color:rgba(255,255,255,0.0);top:0;height:20px;width:20px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group10 .icon .shape1{background-color:rgba(255,255,255,0.0);top:3px;height:13px;width:13px;position:absolute;margin:0;left:3px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group10 .group6copy{background-color:rgba(255,255,255,0.0);top:40px;height:15px;width:15px;position:absolute;margin:0;left:25px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group10 .group6copy .shape2{background-color:rgba(255,255,255,0.0);top:0;height:15px;width:15px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group10 .group6copy .shape1{background-color:rgba(255,255,255,0.0);top:4px;height:7px;width:5px;position:absolute;margin:0;left:7px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group10 .rectangle1{background-color:rgba(111,170,112,1.0);top:63px;height:29px;width:30px;position:absolute;margin:0;left:530px;border-radius:2px;-ms-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);transform:rotate(-180deg)}.home .group10 .path2{background-color:rgba(255,255,255,0.0);top:70px;height:14px;width:22px;position:absolute;margin:0;left:534px;-ms-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);transform:rotate(-180deg)}.home .group10 .a6nov2018{background-color:rgba(255,255,255,0.0);top:110px;height:auto;width:auto;position:absolute;margin:0;left:494px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:12.0px;color:rgba(172,172,172,1.0);text-align:left;letter-spacing:.43px;line-height:16.0px}.home .group9{background-color:rgba(255,255,255,0.0);top:970px;height:136px;width:589px;position:absolute;margin:0;left:194px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group9 .bg1{background-color:rgba(215,255,216,1.0);top:0;height:135px;width:583px;position:absolute;margin:0;left:6px;border-radius:4px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group9 .loremipsumdolorsi{background-color:rgba(255,255,255,0.0);top:63px;height:auto;width:532px;position:absolute;margin:0;left:23px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group9 .unassigned{background-color:rgba(255,255,255,0.0);top:95px;height:auto;width:94px;position:absolute;margin:0;left:53px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group9 .a8nov20180815am{background-color:rgba(255,255,255,0.0);top:38px;height:auto;width:201px;position:absolute;margin:0;left:51px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:12.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:.43px;line-height:16.0px}.home .group9 .defectrollershut{background-color:rgba(255,255,255,0.0);top:8px;height:auto;width:auto;position:absolute;margin:0;left:25px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:15.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:.47px;line-height:24.0px}.home .group9 .d000203{background-color:rgba(255,255,255,0.0);top:25px;height:auto;width:106px;position:absolute;margin:0;left:473px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group9 .rectangle2{background-color:rgba(3,179,6,1.0);top:0;height:136px;width:11px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group9 .icon{background-color:rgba(255,255,255,0.0);top:97px;height:20px;width:20px;position:absolute;margin:0;left:23px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group9 .icon .shape2{background-color:rgba(255,255,255,0.0);top:0;height:20px;width:20px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group9 .icon .shape1{background-color:rgba(255,255,255,0.0);top:3px;height:13px;width:13px;position:absolute;margin:0;left:3px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group9 .group6copy{background-color:rgba(255,255,255,0.0);top:40px;height:15px;width:15px;position:absolute;margin:0;left:25px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group9 .group6copy .shape2{background-color:rgba(255,255,255,0.0);top:0;height:15px;width:15px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group9 .group6copy .shape1{background-color:rgba(255,255,255,0.0);top:4px;height:7px;width:5px;position:absolute;margin:0;left:7px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group9 .rectangle1{background-color:rgba(111,170,112,1.0);top:63px;height:29px;width:30px;position:absolute;margin:0;left:530px;border-radius:2px;-ms-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);transform:rotate(-180deg)}.home .group9 .path2{background-color:rgba(255,255,255,0.0);top:70px;height:14px;width:22px;position:absolute;margin:0;left:534px;-ms-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);transform:rotate(-180deg)}.home .group9 .a6nov2018{background-color:rgba(255,255,255,0.0);top:110px;height:auto;width:auto;position:absolute;margin:0;left:494px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:12.0px;color:rgba(172,172,172,1.0);text-align:left;letter-spacing:.43px;line-height:16.0px}.home .group19{background-color:rgba(255,255,255,0.0);top:1438px;height:662px;width:607px;position:absolute;margin:0;left:194px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group13copy4{background-color:rgba(255,255,255,0.0);top:0;height:136px;width:607px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group13copy4 .bg1{background-color:rgba(236,236,236,1.0);top:0;height:135px;width:583px;position:absolute;margin:0;left:6px;border-radius:4px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group13copy4 .loremipsumdolorsi{background-color:rgba(255,255,255,0.0);top:63px;height:auto;width:532px;position:absolute;margin:0;left:23px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group19 .group13copy4 .unassigned{background-color:rgba(255,255,255,0.0);top:95px;height:auto;width:94px;position:absolute;margin:0;left:53px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group19 .group13copy4 .a8nov20180815am{background-color:rgba(255,255,255,0.0);top:38px;height:auto;width:201px;position:absolute;margin:0;left:51px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:12.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:.43px;line-height:16.0px}.home .group19 .group13copy4 .defectrollershut{background-color:rgba(255,255,255,0.0);top:8px;height:auto;width:auto;position:absolute;margin:0;left:25px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:15.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:.47px;line-height:24.0px}.home .group19 .group13copy4 .d0001{background-color:rgba(255,255,255,0.0);top:25px;height:auto;width:106px;position:absolute;margin:0;left:502px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group19 .group13copy4 .rectangle2{background-color:rgba(140,140,140,1.0);top:0;height:136px;width:11px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group13copy4 .icon{background-color:rgba(255,255,255,0.0);top:97px;height:20px;width:20px;position:absolute;margin:0;left:23px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group13copy4 .icon .shape2{background-color:rgba(255,255,255,0.0);top:0;height:20px;width:20px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group13copy4 .icon .shape1{background-color:rgba(255,255,255,0.0);top:3px;height:13px;width:13px;position:absolute;margin:0;left:3px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group13copy4 .group6copy{background-color:rgba(255,255,255,0.0);top:40px;height:15px;width:15px;position:absolute;margin:0;left:25px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group13copy4 .group6copy .shape2{background-color:rgba(255,255,255,0.0);top:0;height:15px;width:15px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group13copy4 .group6copy .shape1{background-color:rgba(255,255,255,0.0);top:4px;height:7px;width:5px;position:absolute;margin:0;left:7px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group13copy4 .rectangle1{background-color:rgba(215,215,215,1.0);top:63px;height:29px;width:30px;position:absolute;margin:0;left:530px;border-radius:2px;-ms-transform:rotate(-360deg);-webkit-transform:rotate(-360deg);transform:rotate(-360deg)}.home .group19 .group13copy4 .path2{background-color:rgba(255,255,255,0.0);top:69px;height:14px;width:22px;position:absolute;margin:0;left:534px;-ms-transform:rotate(-360deg);-webkit-transform:rotate(-360deg);transform:rotate(-360deg)}.home .group19 .group13copy4 .a6nov2018{background-color:rgba(255,255,255,0.0);top:110px;height:auto;width:auto;position:absolute;margin:0;left:494px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:12.0px;color:rgba(172,172,172,1.0);text-align:left;letter-spacing:.43px;line-height:16.0px}.home .group19 .group16{background-color:rgba(255,255,255,0.0);top:135px;height:527px;width:558px;position:absolute;margin:0;left:31px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .timeline{background-color:rgba(228,228,229,1.0);top:0;height:527px;width:3px;position:absolute;margin:0;left:71px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .bg3{background-color:rgba(255,255,255,1.0);top:313px;height:214px;width:469px;position:absolute;margin:0;left:89px;border-radius:4px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .loremipsumdolorsi{background-color:rgba(255,255,255,0.0);top:349px;height:auto;width:424px;position:absolute;margin:0;left:105px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group19 .group16 .a0815am1030am{background-color:rgba(255,255,255,0.0);top:325px;height:auto;width:166px;position:absolute;margin:0;left:105px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:14.0px;color:rgba(171,171,182,1.0);text-align:left;letter-spacing:.5px;line-height:16.0px}.home .group19 .group16 .dot{background-color:rgba(255,255,255,0.0);top:321px;height:8px;width:8px;position:absolute;margin:0;left:71px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .wed{background-color:rgba(255,255,255,0.0);top:345px;height:auto;width:52px;position:absolute;margin:0;left:12px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:14.0px;color:rgba(171,171,182,1.0);text-align:left;letter-spacing:.5px;line-height:16.0px}.home .group19 .group16 .a08{background-color:rgba(255,255,255,0.0);top:305px;height:auto;width:62px;position:absolute;margin:0;left:12px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'San Francisco',Helvetica,Arial,serif;font-size:32.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:40.0px}.home .group19 .group16 .bg1{background-color:rgba(255,255,255,1.0);top:162px;height:120px;width:469px;position:absolute;margin:0;left:89px;border-radius:4px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .loremipsumdolorsi1{background-color:rgba(255,255,255,0.0);top:198px;height:auto;width:424px;position:absolute;margin:0;left:105px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group19 .group16 .a1300pm1530pm{background-color:rgba(255,255,255,0.0);top:174px;height:auto;width:166px;position:absolute;margin:0;left:105px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:14.0px;color:rgba(171,171,182,1.0);text-align:left;letter-spacing:.5px;line-height:16.0px}.home .group19 .group16 .dot1{background-color:rgba(255,255,255,0.0);top:170px;height:8px;width:8px;position:absolute;margin:0;left:71px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .tue{background-color:rgba(255,255,255,0.0);top:184px;height:auto;width:40px;position:absolute;margin:0;left:12px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:14.0px;color:rgba(171,171,182,1.0);text-align:left;letter-spacing:.5px;line-height:16.0px}.home .group19 .group16 .a09{background-color:rgba(255,255,255,0.0);top:144px;height:auto;width:62px;position:absolute;margin:0;left:12px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'San Francisco',Helvetica,Arial,serif;font-size:32.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:40.0px}.home .group19 .group16 .bg2{background-color:rgba(255,255,255,1.0);top:16px;height:120px;width:469px;position:absolute;margin:0;left:89px;border-radius:4px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .loremipsumdolorsi2{background-color:rgba(255,255,255,0.0);top:54px;height:auto;width:424px;position:absolute;margin:0;left:105px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group19 .group16 .a0815am1030am1{background-color:rgba(255,255,255,0.0);top:30px;height:auto;width:166px;position:absolute;margin:0;left:105px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:14.0px;color:rgba(171,171,182,1.0);text-align:left;letter-spacing:.5px;line-height:16.0px}.home .group19 .group16 .dot2{background-color:rgba(255,255,255,0.0);top:24px;height:8px;width:8px;position:absolute;margin:0;left:71px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .mon{background-color:rgba(255,255,255,0.0);top:48px;height:auto;width:50px;position:absolute;margin:0;left:12px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:14.0px;color:rgba(171,171,182,1.0);text-align:left;letter-spacing:.5px;line-height:16.0px}.home .group19 .group16 .a14dayago{background-color:rgba(255,255,255,0.0);top:89px;height:auto;width:67px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:10.0px;color:rgba(171,171,182,1.0);text-align:left;letter-spacing:.36px;line-height:16.0px}.home .group19 .group16 .a10{background-color:rgba(255,255,255,0.0);top:8px;height:auto;width:62px;position:absolute;margin:0;left:12px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'San Francisco',Helvetica,Arial,serif;font-size:32.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:40.0px}.home .group19 .group16 .group12{background-color:rgba(255,255,255,0.0);top:398px;height:101px;width:404px;position:absolute;margin:0;left:110px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .group12 .placeholdercopy2{background-color:rgba(255,255,255,0.0);top:0;height:101px;width:128px;position:absolute;margin:0;left:276px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .group12 .placeholdercopy2 .bg4{background-color:rgba(255,255,255,0.0);top:0;height:101px;width:128px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .group12 .placeholdercopy2 .bg4 .bg5{background-color:rgba(243,243,245,1.0);top:0;height:101px;width:128px;position:relative;margin:0;left:0;border-radius:4px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .group12 .placeholdercopy2 .icon{background-color:rgba(255,255,255,0.0);top:27px;height:48px;width:48px;position:absolute;margin:0;left:40px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .group12 .placeholdercopy2 .icon .shape2{background-color:rgba(255,255,255,0.0);top:0;height:48px;width:48px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .group12 .placeholdercopy2 .icon .shape1{background-color:rgba(255,255,255,0.0);top:6px;height:36px;width:36px;position:absolute;margin:0;left:6px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .group12 .group7{background-color:rgba(255,255,255,0.0);top:0;height:101px;width:404px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .group12 .group7 .placeholder{background-color:rgba(255,255,255,0.0);top:0;height:101px;width:128px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .group12 .group7 .placeholder .bg4{background-color:rgba(255,255,255,0.0);top:0;height:101px;width:128px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .group12 .group7 .placeholder .bg4 .bg5{background-color:rgba(243,243,245,1.0);top:0;height:101px;width:128px;position:relative;margin:0;left:0;border-radius:4px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .group12 .group7 .placeholder .icon{background-color:rgba(255,255,255,0.0);top:27px;height:48px;width:48px;position:absolute;margin:0;left:40px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .group12 .group7 .placeholder .icon .shape2{background-color:rgba(255,255,255,0.0);top:0;height:48px;width:48px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .group12 .group7 .placeholder .icon .shape1{background-color:rgba(255,255,255,0.0);top:6px;height:36px;width:36px;position:absolute;margin:0;left:6px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .group12 .group7 .placeholdercopy{background-color:rgba(255,255,255,0.0);top:0;height:101px;width:128px;position:absolute;margin:0;left:138px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .group12 .group7 .placeholdercopy .bg4{background-color:rgba(255,255,255,0.0);top:0;height:101px;width:128px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .group12 .group7 .placeholdercopy .bg4 .bg5{background-color:rgba(243,243,245,1.0);top:0;height:101px;width:128px;position:relative;margin:0;left:0;border-radius:4px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .group12 .group7 .placeholdercopy .icon{background-color:rgba(255,255,255,0.0);top:27px;height:48px;width:48px;position:absolute;margin:0;left:40px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .group12 .group7 .placeholdercopy .icon .shape2{background-color:rgba(255,255,255,0.0);top:0;height:48px;width:48px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .group12 .group7 .placeholdercopy .icon .shape1{background-color:rgba(255,255,255,0.0);top:6px;height:36px;width:36px;position:absolute;margin:0;left:6px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group19 .group16 .group12 .group7 .rectangle1{background-color:rgba(0,0,0,1.0);top:0;height:101px;width:128px;position:absolute;margin:0;left:276px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);opacity:.52}.home .group19 .group16 .group12 .group7 .a2{background-color:rgba(255,255,255,0.0);top:33px;height:auto;width:auto;position:absolute;margin:0;left:325px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'San Francisco',Helvetica,Arial,serif;font-size:25.0px;color:rgba(255,255,255,1.0);text-align:left;letter-spacing:.89px}.home .group13copy{background-color:rgba(255,255,255,0.0);top:397px;height:136px;width:589px;position:absolute;margin:0;left:194px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group13copy .bg1{background-color:rgba(219,244,250,1.0);top:0;height:135px;width:583px;position:absolute;margin:0;left:6px;border-radius:4px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group13copy .loremipsumdolorsi{background-color:rgba(255,255,255,0.0);top:63px;height:auto;width:532px;position:absolute;margin:0;left:23px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group13copy .unassigned{background-color:rgba(255,255,255,0.0);top:95px;height:auto;width:94px;position:absolute;margin:0;left:53px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group13copy .a8nov20180815am{background-color:rgba(255,255,255,0.0);top:38px;height:auto;width:201px;position:absolute;margin:0;left:51px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:12.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:.43px;line-height:16.0px}.home .group13copy .handover{background-color:rgba(255,255,255,0.0);top:8px;height:auto;width:auto;position:absolute;margin:0;left:25px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:15.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:.47px;line-height:24.0px}.home .group13copy .h0001{background-color:rgba(255,255,255,0.0);top:25px;height:auto;width:76px;position:absolute;margin:0;left:509px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group13copy .rectangle1{background-color:rgba(115,229,255,1.0);top:0;height:136px;width:11px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group13copy .icon{background-color:rgba(255,255,255,0.0);top:97px;height:20px;width:20px;position:absolute;margin:0;left:23px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group13copy .icon .shape2{background-color:rgba(255,255,255,0.0);top:0;height:20px;width:20px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group13copy .icon .shape1{background-color:rgba(255,255,255,0.0);top:3px;height:13px;width:13px;position:absolute;margin:0;left:3px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group13copy .group6copy{background-color:rgba(255,255,255,0.0);top:40px;height:15px;width:15px;position:absolute;margin:0;left:25px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group13copy .group6copy .shape2{background-color:rgba(255,255,255,0.0);top:0;height:15px;width:15px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group13copy .group6copy .shape1{background-color:rgba(255,255,255,0.0);top:4px;height:7px;width:5px;position:absolute;margin:0;left:7px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group13copy .a6nov2018{background-color:rgba(255,255,255,0.0);top:110px;height:auto;width:auto;position:absolute;margin:0;left:502px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:12.0px;color:rgba(172,172,172,1.0);text-align:left;letter-spacing:.43px;line-height:16.0px}.home .group6{background-color:rgba(255,255,255,0.0);top:351px;height:20px;width:20px;position:absolute;margin:0;left:409px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group6 .shape2{background-color:rgba(255,255,255,0.0);top:0;height:20px;width:20px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group6 .shape1{background-color:rgba(255,255,255,0.0);top:5px;height:9px;width:6px;position:absolute;margin:0;left:9px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .combinedshape{background-color:rgba(255,255,255,0.0);top:458px;height:32px;width:32px;position:absolute;margin:0;left:690px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .shape{background-color:rgba(255,255,255,0.0);top:458px;height:32px;width:32px;position:absolute;margin:0;left:737px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group5{background-color:rgba(255,255,255,0.0);top:2289px;height:83px;width:1229px;position:absolute;margin:0;left:-69px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group5 .header{background-color:rgba(255,255,255,0.0);top:19px;height:49px;width:1195px;position:absolute;margin:0;left:8px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group5 .header .bg1{background-color:rgba(255,255,255,1.0);top:0;height:49px;width:1195px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group5 .header .a29december2018{background-color:rgba(255,255,255,0.0);top:12px;height:auto;width:287px;position:absolute;margin:0;left:400px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:18.0px;color:rgba(255,255,255,1.0);text-align:center;letter-spacing:.64px;line-height:16.0px}.home .group5 .group8{background-color:rgba(255,255,255,0.0);top:31px;height:24px;width:129px;position:absolute;margin:0;left:537px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group5 .group8 .rejected{background-color:rgba(255,255,255,0.0);top:0;height:auto;width:97px;position:absolute;margin:0;left:32px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group5 .group8 .rectangle1{background-color:rgba(255,0,0,1.0);top:4px;height:19px;width:21px;position:absolute;margin:0;left:0;border-radius:2px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group5 .group8copy{background-color:rgba(255,255,255,0.0);top:31px;height:24px;width:230px;position:absolute;margin:0;left:233px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group5 .group8copy2{background-color:rgba(255,255,255,0.0);top:31px;height:24px;width:129px;position:absolute;margin:0;left:261px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group5 .group8copy2 .canceled{background-color:rgba(255,255,255,0.0);top:0;height:auto;width:97px;position:absolute;margin:0;left:32px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group5 .group8copy2 .rectangle1{background-color:rgba(255,196,8,1.0);top:4px;height:19px;width:21px;position:absolute;margin:0;left:0;border-radius:2px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group5 .group8copy3{background-color:rgba(255,255,255,0.0);top:31px;height:24px;width:86px;position:absolute;margin:0;left:149px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group5 .group8copy3 .open{background-color:rgba(255,255,255,0.0);top:0;height:auto;width:54px;position:absolute;margin:0;left:32px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group5 .group8copy3 .rectangle1{background-color:rgba(115,229,255,1.0);top:4px;height:19px;width:21px;position:absolute;margin:0;left:0;border-radius:2px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group5 .group8copy4{background-color:rgba(255,255,255,0.0);top:31px;height:24px;width:129px;position:absolute;margin:0;left:839px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group5 .group8copy4 .closed{background-color:rgba(255,255,255,0.0);top:0;height:auto;width:97px;position:absolute;margin:0;left:32px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group5 .group8copy4 .rectangle1{background-color:rgba(140,140,140,1.0);top:4px;height:19px;width:21px;position:absolute;margin:0;left:0;border-radius:2px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group5 .group8copy6{background-color:rgba(255,255,255,0.0);top:31px;height:24px;width:129px;position:absolute;margin:0;left:954px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group5 .group8copy6 .noshow{background-color:rgba(255,255,255,0.0);top:0;height:auto;width:97px;position:absolute;margin:0;left:32px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group5 .group8copy6 .rectangle1{background-color:rgba(255,255,255,1.0);top:4px;height:19px;box-sizing:border-box;width:21px;position:absolute;margin:0;left:0;border-radius:2px;border-style:solid;border-width:1px;border-color:rgba(150,150,150,1.0);-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group5 .group8copy5{background-color:rgba(255,255,255,0.0);top:31px;height:24px;width:129px;position:absolute;margin:0;left:692px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group5 .group8copy5 .resolved{background-color:rgba(255,255,255,0.0);top:0;height:auto;width:97px;position:absolute;margin:0;left:32px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group5 .group8copy5 .rectangle1{background-color:rgba(239,75,255,1.0);top:4px;height:19px;width:21px;position:absolute;margin:0;left:0;border-radius:2px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group5 .group11{background-color:rgba(255,255,255,0.0);top:31px;height:24px;width:105px;position:absolute;margin:0;left:406px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group5 .group11 .pending{background-color:rgba(255,255,255,0.0);top:0;height:auto;width:73px;position:absolute;margin:0;left:32px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group5 .group11 .rectangle1{background-color:rgba(3,179,6,1.0);top:4px;height:19px;width:21px;position:absolute;margin:0;left:0;border-radius:2px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group13copy5{background-color:rgba(255,255,255,0.0);top:2114px;height:136px;width:607px;position:absolute;margin:0;left:194px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group13copy5 .bg1{background-color:rgba(255,255,255,1.0);top:0;height:135px;width:583px;position:absolute;margin:0;left:6px;border-radius:4px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group13copy5 .loremipsumdolorsi{background-color:rgba(255,255,255,0.0);top:63px;height:auto;width:532px;position:absolute;margin:0;left:23px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group13copy5 .unassigned{background-color:rgba(255,255,255,0.0);top:95px;height:auto;width:94px;position:absolute;margin:0;left:53px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group13copy5 .a8nov20180815am{background-color:rgba(255,255,255,0.0);top:38px;height:auto;width:201px;position:absolute;margin:0;left:51px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:12.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:.43px;line-height:16.0px}.home .group13copy5 .defectrollershut{background-color:rgba(255,255,255,0.0);top:8px;height:auto;width:auto;position:absolute;margin:0;left:25px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:15.0px;color:rgba(0,0,0,1.0);text-align:left;letter-spacing:.47px;line-height:24.0px}.home .group13copy5 .d0001{background-color:rgba(255,255,255,0.0);top:25px;height:auto;width:106px;position:absolute;margin:0;left:502px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:16.0px;color:rgba(78,78,85,1.0);text-align:left;letter-spacing:.5px;line-height:24.0px}.home .group13copy5 .rectangle2{background-color:rgba(232,232,232,1.0);top:0;height:136px;width:11px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group13copy5 .icon{background-color:rgba(255,255,255,0.0);top:97px;height:20px;width:20px;position:absolute;margin:0;left:23px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group13copy5 .icon .shape2{background-color:rgba(255,255,255,0.0);top:0;height:20px;width:20px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group13copy5 .icon .shape1{background-color:rgba(255,255,255,0.0);top:3px;height:13px;width:13px;position:absolute;margin:0;left:3px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group13copy5 .group6copy{background-color:rgba(255,255,255,0.0);top:40px;height:15px;width:15px;position:absolute;margin:0;left:25px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group13copy5 .group6copy .shape2{background-color:rgba(255,255,255,0.0);top:0;height:15px;width:15px;position:absolute;margin:0;left:0;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group13copy5 .group6copy .shape1{background-color:rgba(255,255,255,0.0);top:4px;height:7px;width:5px;position:absolute;margin:0;left:7px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}.home .group13copy5 .rectangle1{background-color:rgba(215,215,215,1.0);top:63px;height:29px;width:30px;position:absolute;margin:0;left:530px;border-radius:2px;-ms-transform:rotate(-360deg);-webkit-transform:rotate(-360deg);transform:rotate(-360deg)}.home .group13copy5 .path2{background-color:rgba(255,255,255,0.0);top:69px;height:14px;width:22px;position:absolute;margin:0;left:534px;-ms-transform:rotate(-360deg);-webkit-transform:rotate(-360deg);transform:rotate(-360deg)}.home .group13copy5 .a6nov2018{background-color:rgba(255,255,255,0.0);top:110px;height:auto;width:auto;position:absolute;margin:0;left:494px;-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0);font-family:'AppleSystemUIFont',Helvetica,Arial,serif;font-size:12.0px;color:rgba(172,172,172,1.0);text-align:left;letter-spacing:.43px;line-height:16.0px}.anima-animate-appear{opacity:0;display:block;-webkit-animation:anima-reveal .3s ease-in-out 1 normal forwards;-moz-animation:anima-reveal .3s ease-in 1 normal forwards;-o-animation:anima-reveal .3s ease-in-out 1 normal forwards;animation:anima-reveal .3s ease-in-out 1 normal forwards}.anima-animate-disappear{opacity:1;display:block;-webkit-animation:anima-reveal .3s ease-in-out 1 reverse forwards;-moz-animation:anima-reveal .3s ease-in 1 normal forwards;-o-animation:anima-reveal .3s ease-in-out 1 reverse forwards;animation:anima-reveal .3s ease-in-out 1 reverse forwards}.anima-animate-nodelay{-webkit-animation-delay:0;-moz-animation-delay:0;-o-animation-delay:0;animation-delay:0}@-webkit-keyframes anima-reveal{0%{opacity:0}100%{opacity:1}}@-moz-keyframes anima-reveal{0%{opacity:0}100%{opacity:1}}@-o-keyframes anima-reveal{0%{opacity:0}100%{opacity:1}}@keyframes anima-reveal{0%{opacity:0}100%{opacity:1}}
    